/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #281e86;
    color: #333;
}

h2, h3, h4 {
    font-weight: 600;
}

h2 {
    color: #007bff;
}

h3 {
    margin-top: 30px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

h4 {
    margin-top: 20px;
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

strong {
    color: #007bff;
}

/* Profile Image */
.img-fluid {
    max-width: 150px;
    height: auto;
}

/* Container */
.container {
    background-color: #faf7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact Info */
ul li strong {
   
    width: 100px;
}

/* Experience and Education */
div h4 {
    margin-bottom: 5px;
}

div p {
    margin-bottom: 15px;
}





/* Estilo por defecto (tema oscuro) */
body {
    background-color: #121212;  /* Fondo oscuro */
    color: #000000;             /* Texto claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: black;
    color: white;
}

h1 {
    color: #ffffff;
}



/* Estilo para el tema claro */
body.tema-claro {
    background-color: #ffffff;  /* Fondo claro */
    color: #121212;             /* Texto oscuro */
}

body.tema-claro h1 {
    color: #121212;
}
body.tema-claro .container {
    background-color: #f5f5f5; /* Color de fondo claro */
    border: 1px solid #ddd;    /* Borde sutil */
    padding: 20px;             /* Espaciado interno */
    border-radius: 10px;       /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    color: black;
}


body.tema-claro button {
    background-color: #ddd;
    color: #121212;
}


/* Estilo para el botón de cambio de tema */
.btn-flotante {
    position: sticky;
        bottom: 20px;
        right: 20px;
        z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
       
       ; 
        font-size: 25px;
}

.btn-flotante:hover {
    background-color: #0056b3; 
    
}
.text-move{
    display: inline-block;
    animation: mover 1s infinite alternate;

    
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.a {
    width: 200px;
    height: 200px;
 background-color: #f10909;
}

